@charset "utf-8";

* { margin:0; padding:0; border:none; outline:none; box-sizing:border-box; }
html { height:100%; }
body { width:100%; height:auto; font-family:'Montserrat',sans-serif; font-size:62.5%; background-color:#ffffff; position:relative; }
body.home,body.page-404,body.sellers,body.soon,body.experience-map,body.facebook-reg { height:100%; }
body.reg/*,body.chat*/ { overflow:hidden; }

img { max-width:100%; vertical-align:middle; line-height:1; }

.clearfix:before,.clearfix:after { content:" "; display:table; }
.clearfix:after { clear:both; }
.clearfix { *zoom: 1; }

.frame { display:table; width:100%; height:100%; }
.frame-row { display:table-row; height:1px; }
.frame-row.expand { height:100%; }



/* *** HEADER *** */
/* ******************************************************************************** */
header { position:absolute; top:0; left:0; width:100%; z-index:2;
background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0, rgba(0,0,0,0) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0, rgba(0,0,0,0) 100%);
}
header.dark { background:#ffffff; border-bottom:solid 1px #e3e3e3; }
header.search { position:relative; }
header .staging-note { padding:5px 5%; font-family:'Source Sans Pro',sans-serif; font-size:1.6em; color:#ffffff; background-color:#ff0000; text-align:center; }
header .content { width:90%; max-width:1400px; margin:0 auto; }
header .logo { float:left; margin:20px 0; }
header .logo .dark { display:none; }
header .logo .light.mobile { display:none; }
header .logo .dark.mobile { display:none; }
header.dark .logo .light { display:none; }
header.dark .logo .dark { display:inline-block; }
header.dark .logo .light.mobile { display:none; }
header.dark .logo .dark.mobile { display:none; }
header .logo img.full { max-height:54px; }
header .logo img.mobile { max-height:40px; }
header .menu { float:right; list-style-type:none; }
header .menu li { float:left; }
header .menu li a { display:inline-block; padding:20px 30px; font-size:1.4em; color:#ffffff; text-decoration:none; text-transform:uppercase; line-height:54px; }
header .menu li.active a,header .menu li a:hover { padding:20px 30px 16px; border-bottom:solid 4px #04bca8; }
header.dark .menu li a { color:#373f51; }
header .menu-button { float:right; display:inline-block; padding:20px 30px; font-size:1.4em; color:#ffffff; text-decoration:none; text-transform:uppercase; line-height:54px; }
header .menu-button span { margin-left:10px; }
header .menu-button span.responsive { display:none; }
header .menu-button:hover { padding:20px 30px 16px; border-bottom:solid 4px #04bca8; }
header.dark .menu-button { color:#373f51; }
header .cta-button { float:right; display:inline-block; box-sizing:border-box; margin-top:20px; margin-left:30px; padding:0 20px; border-radius:4px; background-color:#04bca8;
font-size:1.4em; color:#ffffff; text-decoration:none; text-transform:uppercase; line-height:54px; }
header .cta-button span { margin-left:10px; }
header .cta-button:hover { opacity:0.9; }

/* *** FOOTER *** */
/* ******************************************************************************** */
footer { font-family:'Source Sans Pro',sans-serif; font-weight:300; color:#3b3d40; }
footer .top { background-color:#ffffff; border-top:solid 1px #f3f5f8; }
footer .top .content { width:90%; max-width:1400px; margin:0 auto; padding:40px 0; }
footer .top .info { float:left; }
footer .top .info .logo img { max-height:40px; }
footer .top .info p { margin-top:20px; font-size:2em; line-height:20px; }
footer .top .info p a { color:#3b3d40; text-decoration:none; }
footer .top .info p a:hover { text-decoration:underline; }
footer .top .social { float:right; list-style-type:none; margin-top:30px; }
footer .top .social li { float:left; margin-left:30px; font-size:2em; line-height:20px; }
footer .top .social li:first-child { margin-left:0; }
footer .top .social li a { color:#3b3d40; }
footer .top .social li a:hover { opacity:0.9; }
footer .bottom { background-color:#f3f5f8; }
footer .bottom .content { width:90%; max-width:1400px; margin:0 auto; padding:30px 0; }
footer .bottom .left { float:left; }
footer .bottom .right { float:right; }
footer .bottom p { font-size:1.6em; line-height:20px; }
footer .bottom p a { color:#3b3d40; text-decoration:none; }
footer .bottom p a:hover { text-decoration:underline; }
footer .bottom p a .fa { margin-left:10px; }

#footer-disclaimers { width:90%; max-width:1400px; margin:0 auto; padding:45px 0; list-style-type:none; }
#footer-disclaimers li { margin-top:30px; }
#footer-disclaimers li:first-child { margin-top:0; }
#footer-disclaimers li img { float:left; padding:6px; border:solid 1px #ededed; }
#footer-disclaimers li .txt { margin-left:126px; }
#footer-disclaimers li.no-img .txt { margin-left:0; }
#footer-disclaimers li .txt-table { display:table; width:100%; height:86px; }
#footer-disclaimers li.no-img .txt-table { height:auto; }
#footer-disclaimers li .txt-row { display:table-row; }
#footer-disclaimers li .txt-cell { display:table-cell; width:100%; vertical-align:middle; }
#footer-disclaimers li .txt p { font-family:'Source Sans Pro',sans-serif; font-size:10pt; color:#929292; line-height:150%; letter-spacing:1px; }
#footer-disclaimers.font-10pt li .txt p { font-size:10pt !important; }
#footer-compliance { width:90%; max-width:1400px; margin:0 auto; padding:30px 0; border-top:solid 1px #ededed; }
#footer-compliance.no-disclaimers { border-top:none; }
#footer-compliance-logos { float:left; }
#footer-compliance-logos img { margin-left:20px; }
#footer-compliance-logos img:first-child { margin-left:0; }
#footer-compliance-updated { float:right; line-height:20px; padding:10px 0; font-family:'Source Sans Pro',sans-serif; font-size:1.2em; color:#929292; letter-spacing:1px; }


/* *** 404 *** */
/* ************************************************************************************************************************************************************************************* */
#page-404 { position:relative; height:calc(100% - 4px); background-repeat:no-repeat; background-size:cover; background-position:center center; background-image:url(../images/img-404-bg.jpg); }
#page-404 .overlay { position:absolute; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.3); }
#page-404 .frame { position:absolute; top:0; left:0; }
#page-404 .content { display:table-cell; vertical-align:middle; width:100%; padding:151px 5% 60px; text-align:center; color:#ffffff; text-shadow:1px 1px #000000; }
#page-404 h1 { font-size:15em; line-height:100%; }
#page-404 p { margin:15px auto 0; font-family:'Source Sans Pro',sans-serif; font-size:3.6em; font-weight:300; line-height:120%; }
#page-404 p.preheadline { margin-top:0; font-family:'Source Sans Pro',sans-serif; font-size:2.8em; font-weight:600; text-transform:uppercase; }
#page-404 p.preheadline span { margin-left:30px; letter-spacing:30px; }
#page-404 .button { font-size:1.8em; color:#ffffff; text-decoration:none; text-transform:uppercase; letter-spacing:4px; text-shadow:none;
display:inline-block; box-sizing:border-box; margin-top:40px; padding:20px 30px; line-height:20px; border:solid 2px #ffffff; border-radius:4px; box-sizing:border-box; }
#page-404 .button:hover { background-color:#04bca8; border-color:#04bca8; }


/* *** HOME *** */
/* ******************************************************************************** */
.home-table { display:table; width:100%; height:100%; background-size:cover; background-position:center center; }
.home-cell {    display: table-cell;
    vertical-align: middle;
text-align: middle;}
.home-cell section .content { width:100%; max-width:1400px; margin:60px auto; text-align: center;}

#home-about { position:relative; }
#home-about .video-wrapper { position:absolute; top:0; right:0; bottom:0; left:0; overflow:hidden; z-index:0; }
#home-about .video { position:absolute; top:50%; left:50%; width:auto; height:auto; min-width:100%; min-height:100%;
-webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); transform:translate(-50%, -50%); }
#home-about .overlay { position:absolute; left:0; top:0; width:100%; height:100%; background-color:rgba(0,0,0,0.3); z-index:1; }
#home-about .home-cell { background-color:rgba(0,0,0,0.3); }
#home-about .content { position:relative; color:#ffffff; margin:155px auto 60px; z-index:1; }
#home-about h1 { font-size:6em; font-weight:bold; text-shadow:1px 1px #040404; line-height:110%; }
#home-about h2 { margin-top:10px; font-family:'Source Sans Pro',sans-serif; font-size:3.6em; font-weight:300; text-shadow:1px 1px #040404; line-height:110%; }
#home-about .buttons { margin-top:20px; display:inline-block; }
#home-about .buttons .button { float:left; }
#home-about .buttons .button a { font-size:1.8em; color:#ffffff; text-decoration:none; text-transform:uppercase; letter-spacing:4px;
display:inline-block; box-sizing:border-box; padding:20px; line-height:20px; border:solid 2px #ffffff; border-radius:4px; box-sizing:border-box; }
#home-about .buttons .button:nth-of-type(2) { margin-left:15px; }
#home-about .buttons .button.fill a { background-color:#ffffff; color:#373f51; }
#home-about .buttons .button a:hover { background-color:#04bca8; border-color:#04bca8; }
#home-about .buttons .button.fill a:hover { color:#ffffff; }

#home-blog .home-cell { background-color:rgba(55,63,81,0.9); }
#home-blog .home-cell.no-img { background-color:#373f51; }
#home-blog .content { max-width:800px; color:#ffffff; text-align:center; }
#home-blog h4 { font-size:2.6em; font-weight:bold; text-transform:uppercase; }
#home-blog h2 { margin-top:30px; font-size:4.8em; font-weight:bold; line-height:110%; }
#home-blog h3 { margin-top:20px; font-family:'Source Sans Pro',sans-serif; font-size:3.6em; font-weight:300; line-height:110%; }
#home-blog .buttons { display:inline-block; margin-top:30px; }
#home-blog .buttons .button { float:left; }
#home-blog .buttons .button:nth-of-type(2) { margin-left:15px; }
#home-blog .buttons .button a { font-size:1.8em; color:#ffffff; text-decoration:none; text-transform:uppercase; letter-spacing:4px;
display:inline-block; box-sizing:border-box; padding:20px; line-height:20px; border:solid 2px #ffffff; border-radius:4px; box-sizing:border-box; min-width:248px; }
#home-blog .buttons .button a:hover { background-color:#04bca8; border-color:#04bca8; }

#home-reviews .home-cell { background-color:rgba(244,244,244,0.9); }
#home-reviews .content { max-width:800px; padding-top:80px; color:#373f51; text-align:center;
background-image:url(../images/home-reviews-quotes.png); background-repeat:no-repeat; background-position:center top; }
#home-reviews h2 { font-size:4.8em; font-weight:bold; line-height:110%; }
#home-reviews .source { margin-top:30px; }
#home-reviews .buttons { margin-top:40px; }
#home-reviews .buttons .button a { font-size:1.8em; color:#373f51; text-decoration:none; text-transform:uppercase; letter-spacing:4px;
display:inline-block; box-sizing:border-box; padding:20px; line-height:20px; border:solid 2px #373f51; border-radius:4px; box-sizing:border-box; }
#home-reviews .buttons .button a:hover { color:#ffffff; background-color:#04bca8; border-color:#04bca8; }

#home-featured-listings { background-color:#f7f7f7; }
#home-featured-listings .content { width:90%; max-width:1400px; margin:0 auto; padding:90px 0 105px; text-align:center; }
#home-featured-listings h2.heading { font-size:4.2em; font-weight:bold; color:#000000; line-height:110%; }
#home-featured-listings h3.subheading { margin-top:10px; font-family:'Source Sans Pro',sans-serif; font-size:3em; font-weight:300; color:#000000; line-height:110%; }
#home-featured-listings ul { list-style-type:none; padding-top:30px; text-align:left; }
#home-featured-listings li { float:left; width:32%; margin-top:30px; margin-left:2%; box-sizing:border-box; border:solid 1px #f4f4f4; background-color:#ffffff; }
#home-featured-listings li:hover { box-shadow:0 0 30px #d7d7d7; }
#home-featured-listings li:nth-of-type(3n+1) { clear:left; margin-left:0; }
#home-featured-listings li a.img { display:block; background-image:url(../images/img-listing-default-photo.jpg); background-size:cover; background-position:center center; }
#home-featured-listings li a.img figure { padding-top:66%; background-size:cover; background-position:center center; position:relative; }
#home-featured-listings li a.img figure .overlay { position:absolute; left:0; top:0; width:100%; height:100%; 
background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.5) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%,rgba(0,0,0,0.5) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%,rgba(0,0,0,0.5) 100%); );
}
#home-featured-listings li a.img figure .overlay-logo { position:absolute; top:15px; right:5%; width:10%;  }
#home-featured-listings li a.img figure .price { position:absolute; left:0; bottom:0; padding:10px 20px; line-height:30px; font-size:2.4em; font-weight:bold; color:#ffffff; background-color:#06bca7; }
#home-featured-listings li a.img figure .price.ranged { font-size:1.8em; }
#home-featured-listings li a.img figure .amenities { position:absolute; right:0; bottom:0; padding:10px 20px; line-height:30px;
font-family:'Source Sans Pro',sans-serif; font-size:1.6em; font-weight:bold; color:#ffffff; text-transform:uppercase; }
#home-featured-listings li .address { padding:20px 5%; font-family:'Source Sans Pro',sans-serif; color:#373f51; }
#home-featured-listings li .address h3 { font-size:2em; font-weight:normal; line-height:110%; }
#home-featured-listings li .address h4 { font-size:2em; font-weight:bold; line-height:110%; }
#home-featured-listings li .address .office { margin-top:3px; font-size:1.6em; font-weight:normal; line-height:110%; }
#home-featured-listings li .address .office img { height:10px; width:auto; margin-right:5px; }
#home-featured-listings li .tags { padding:7px 5% 15px; border-top:solid 1px #f4f4f4; }
#home-featured-listings li .tags a { float:left; display:inline-block; margin:8px 8px 0 0; padding:4px 10px; line-height:20px; background-color:#eff3f6; border-radius:28px;
font-family:'Source Sans Pro',sans-serif; font-size:1.4em; font-weight:normal; color:#373f51; text-decoration:none; }
#home-featured-listings li .tags a:hover { color:#ffffff; background-color:#5c9ee7; }
#home-featured-listings .more { margin-top:60px; text-align:center; }
#home-featured-listings .more a { font-size:1.8em; font-weight:bold; color:#ffffff; text-decoration:none; text-transform:uppercase; letter-spacing:3px;
display:inline-block; box-sizing:border-box; padding:17px 45px; line-height:20px; background-color:#04bca8; border-radius:4px; box-sizing:border-box; }
#home-featured-listings .more a:hover { opacity:0.9; }
#home-featured-listings .more .error { margin-top:15px; font-family:'Source Sans Pro',sans-serif; font-size:2.1em; font-weight:300; color:#ff0000; }

#home-main .featured-cards { width:90%; max-width:1400px; margin:0 auto; padding:90px 0 135px; text-align:center; }
#home-main .featured-cards h2 { font-size:4.2em; font-weight:bold; color:#000000; line-height:110%; }
#home-main .featured-cards h3 { margin-top:10px; font-family:'Source Sans Pro',sans-serif; font-size:3em; font-weight:300; color:#000000; line-height:110%; }
#home-main .featured-cards ul { list-style-type:none; margin-top:30px; }
#home-main .featured-cards ul li { float:left; width:32%; margin-top:30px; margin-left:2%; }
#home-main .featured-cards ul li:nth-of-type(3n+1) { clear:left; margin-left:0; }
#home-main .featured-cards ul li img { width:100%; }
#home-main .featured-cards ul li a:hover { opacity:0.9; }

